*{
	box-sizing: border-box;
}
body{
	background-color: #f6f5f1;
}
#k1{
	width: 1000px;
	margin: 0px auto;


}
 nav#k3{
 	background-color: yellow;
 }
 #k4{
 		min-height: 500px;
	background-color: #fff;
 }
 section#left-page{
 	width: 750px;
 	padding: 10px;
 	float: left;
 	background-color: cyan;
 }
 aside{
 	width: 250px;
 	padding: 10px; float: right;
 	background-color: green;
 }
 .clr{ clear: both; }
 footer#k5{
 	background-color: #252525;
 }